#game {
  background-color: #778899;
  height: 720px;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#start {
  color: white;
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start:hover {
  color: rgb(197, 89, 0);
}

#score {
  color: white;
  font-size: 3em;
  position: absolute;
  padding-left: 10px;
}

#target {
  height: 70px;
  width: 70px;
  background-color: rgb(197, 89, 0);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

#lives-container {
  margin-top: 10px;
  padding-right: 5px;
  display: inline-block;
  position: absolute;
  right: 0px
}

.life {
  height: 3em;
  width: 3em;
  background-color: maroon;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}