h6 {
  color: white;
  font-size: 4em;
  font-weight: 100;
}

table {
  width: 90%;
}

th {
  color: white;
  font-size: 1.25em;
}

td {
  color: white;
  font-size: 1em;
}

#game {
  background-color: #778899;
  height: 720px;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#start {
  color: white;
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start:hover {
  color: rgb(197, 89, 0);
}

#leaderboard {
  font-size: 3em;
  top: 65%;
  left: 50%;
}

#difficulty {
  font-size: 2.5em;
  top: 35%;
  left: 50%;
}

#back-button {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#back-button:hover {
  color: darkblue;
}

#score {
  color: white;
  font-size: 3em;
  position: absolute;
  padding-left: 10px;
}

#lives-container {
  margin-top: 8px;
  padding-right: 5px;
  display: inline-block;
  position: absolute;
  right: 5px
}

#sound-button {
  height: 3em;
  width: 3em;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#leaderboard-container {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#target {
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.easy-target {
  background-color: darkgreen;
  height: 150px;
  width: 150px;
}

.medium-target {
  background-color: goldenrod;
  height: 70px;
  width: 70px;
}

.hard-target {
  background-color: maroon;
  height: 50px;
  width: 50px;
}

.menu-option {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%)
}

.menu-option:hover {
  color: darkblue;
}

.leaderboard-card {
  height: 100%;
  width: 33%;
  position: relative;
  display: inline-block
}

.heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 3em;
  width: 3em;
}