@font-face {
  font-family: 'pixel';
  src: url(fonts/pixel-font/04B_30__.TTF);
  font-style: normal;
  font-weight: 100;
}

h6 {
  color: white;
  font-size: 3em;
  font-weight: 100;
  margin: 1em;
}

table {
  width: 90%;
}

th {
  color: white;
  font-size: 1.25em;
  padding-bottom: 25px;
}

td {
  color: white;
  font-size: 1em;
  padding-bottom: 15px;

}

#multiplier {
  font-family: pixel;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 3em;
  display: none;
}

#game {
  background-color: #778899;
  height: 720px;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#start {
  font-family: pixel;
  color: white;
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start:hover {
  color: rgb(197, 89, 0);
}

#leaderboard {
  font-family: pixel;
  font-size: 3em;
  top: 65%;
  left: 50%;
}

#difficulty {
  font-family: pixel;
  font-size: 1.75em;
  top: 35%;
  left: 50%;
}

#back-button {
  font-family: pixel;
  color: white;
  font-size: 3em;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#back-button:hover {
  color: darkblue;
}

#score {
  font-family: pixel;
  color: white;
  font-size: 3em;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

#lives-container {
  margin-top: 8px;
  padding-right: 5px;
  display: inline-block;
  position: absolute;
  right: 5px
}

#sound-button {
  height: 3em;
  width: 3em;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#leaderboard-container {
  font-family: pixel;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#target {
  /* border-radius: 50%; */
  display: inline-block;
  position: absolute;
}

.easy-target {
  background-image: url(img/laughing-emoji-removebg-preview\ \(2\).png);
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-color: darkgreen; */
  height: 150px;
  width: 150px;
}

.medium-target {
  /* background-color: goldenrod; */
  background-image: url(img/cool-emoji-removebg-preview.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

.hard-target {
  /* background-color: maroon; */
  background-image: url(img/shocked2-emoji-removebg-preview.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.menu-option {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%)
}

.menu-option:hover {
  color: darkblue;
}

.leaderboard-card {
  height: 100%;
  width: 33%;
  position: relative;
  display: inline-block
}

.heart {
  background-image: url(img/heart-removebg-preview.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 3em;
  width: 3em;
  margin-right: 3px;
}